.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5vw;
    // background: #ecf0f1;

    @media (max-width: 768px){
        flex-direction: column;
    }

    img {
        width: 150px;
    }

    a{
        text-decoration: none;
        color: #000;
    }
}